body {
	height: 842px;
    width: 595px;
    margin: auto;
	line-height: 1.8;
}

.container-fluid {
	padding-bottom: 15px;
}

#pageHeader-first {
	margin: auto;
	text-align: center;
	line-height: 0.8;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
}

p.header {
	font-style: oblique;
}

hr {
	background-color: #3c3c3c;
}

#work {
	margin: auto;
	width: auto;
	height: auto;
}

.title {
	margin: auto;
	text-align: center;
	text-size: 2em;
	font-weight: bold;
}

.content {
	display: table-row;
}

.content:after {
    content:"\a\a\a";
    white-space: pre;
}

.date, .info {
	display: table-cell;
}

.date {
	min-width: 150px;
}

.description, .languages {
	display: table-cell;
}

.description {
	min-width: 175px;
}
