body {
    width: 595px;
    margin: auto;
	padding: 2.6em 2.6em;
	line-height: 1.8;
	font-size: 9px;
}

.container-fluid {
	padding-bottom: 15px;
}

#pageHeader-first {
	margin: auto;
	text-align: center;
	line-height: 0.8;
}

h1 {
	text-transform: uppercase;
	font-weight: bold;
}

p.header {
	font-style: oblique;
	margin: 0px 0px 10px;
}

#work.detail {
	margin-top: 20px;
}

.detail {
	margin-bottom: 20px;
}

hr {
	background-color: #3c3c3c;
	margin-top: 10px;
	margin-bottom: 10px;
}

.title {
	margin: auto;
	text-align: center;
	/* text-size: 2em; */
	font-weight: bold;
	font-size: 15px;
	padding: 0px 0px;
}

.content {
	display: table-row;
}

#work.content:after {
    content:"\a\a\a";
    white-space: pre;
}

#education.content:after {
	content: "\a\a";
	white-space: pre;
}

#skills.content:after {
	content: "\a\a";
	white-space: pre;
}

.date, .info {
	display: table-cell;
}

.date {
	min-width: 150px;
}

.description, .languages {
	display: table-cell;
}

.description {
	min-width: 150px;
}
