unless _.isEmpty(resume.references)
	.detail#references
		hr
		h333.title.text-uppercase References
		hr

		#references.content
			ul
				each ref in resume.references
					li
						strong= ref.name
						|, #{ref.position}
						p= ref.email
