unless _.isEmpty(resume.languages)
	.detail#skills
		hr
		h3.title.text-uppercase Skills
		hr

		unless _.isEmpty(resume.languages.advance)
			#skills.content
				.description
					strong= "Advance languages"
				.languages
					|#{resume.languages.advance}

		unless _.isEmpty(resume.languages.intermediate)
			#skills.content
				.description
					strong= "Intermediate languages"
				.languages
					|#{resume.languages.intermediate}
